<h1>This is <%= @kitten.name %> </h1>

<p>Age: <%= @kitten.age %> </p>
<p>Cuteness: <%= @kitten.cuteness %> </p>
<p>Softness: <%= @kitten.softness %> </p>

<%= link_to 'Get back to kittens', kittens_path %>